@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'FRACbold';
    src: url("./assets/fonts/frac/FRACTrial-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'FRACRegular';
    src: url("./assets/fonts/frac/FRACTrial-Regular.otf") format("opentype");
}


@font-face {
    font-family: 'FRACLight';
    src: url("./assets/fonts/frac/FRACTrial-Light.otf") format("opentype");
}

@font-face {
    font-family: 'NM';
    src: url("./assets/fonts/nm/PPNeueMachina-PlainLight.otf") format("opentype");
}


* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

html {
    pointer-events: none;
    user-select: none;
}

html, body {
    background-color: #8C9D9C;
    font-family: 'FRACLight', monospace;
/*     font-family: 'Fira Code', monospace; */
    text-transform: uppercase;
   
}

a, button {
    pointer-events: all;
    text-transform: uppercase;
}

a {
    cursor: pointer;
}
